.postes
{
    float: left;
    width: 70%;
    height: 800px; /* only for demonstration, should be removed */
    background: #a7a7a7;
    padding: 20px;
}
.logs
{
    float: right;
    width: 30%;
    height: 800px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}
